.buy__contents {
  display: block;
  width :340px;
  margin:20px auto;
  border-radius: 10px;
  font-size:14px;
  text-decoration: none;
  text-align: center;
  background-color: #2CCBD1;
  color: #fff;
  padding: 20px;
}